Flask
mysql-connector
simplejson
flask-mysql
jinja2
click==6.6
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
