<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">

    <title>My first website</title>
</head>
<body>

<header class="bg-light">
    <div class="container px-4">
        <div class="row gx-4">


            <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">


                <a class="navbar-brand" href="/">Home</a>
                <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"
                        data-target="#navbarNav" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link active" href="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/academics/">Academics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Faculty/">Faculty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/records/">Records
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/chart/">Chart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery/">Photos</a>
                        </li>

                    </ul>

                </div>
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-target="#navbarSupportedContent"
                        data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="calendar" target="_blank">

                    <img border="10" src="https://www.google.com/calendar/images/ext/gc_button6_en.gif"></a>

            </nav>
        </div>
    </div>
</header>

<header class="bg-light">
    <div class="container-xl">
        <div class="col-md text-center mt-4 mb-4 ">
           <img alt="Responsive image" class="img-circle" src="{{url_for('static', filename = 'Univ.jpeg')}}"
                     style="width:90%; height: 30%">

        </div>
    </div>
</header>

<header class="bg-light">
    <div class="container-xl">
        <div class="jumbotron">
            <h5 class="display-6 "><strong>About NJIT</strong></h5>
            <p class="lead">
                Welcome to New Jersey Institute of Technology. As the state’s public polytechnic university, we continue
                to invest in the renewal of our existing facilities in addition to adding new spaces, with the goal of
                providing an exceptional teaching, learning and living environment.
            </p>
            <p class="lead">The university’s multidisciplinary curriculum and computing-intensive approach to education
                provide the
                technological proficiency, business know-how, and leadership skills that future CEOs and entrepreneurs
                will need to succeed. With an enrollment of over 11,400 undergraduate and graduate students, NJIT offers
                small-campus intimacy with the resources of a major public research university.</p>
            <h5 class="display-6 ">Enrollment and Employment (2016-2017)</h5>
            <p class="lead">
            <Li>Total enrollment: over 11,400
            </Li>
            <Li> SAT average composite score for fall 2017 freshmen is 1286 (top 25%); for Honors College freshmen, the
                average composite SAT score is 1461 (top 10%)
            </Li>
            <Li> More than 50% of freshman students and 25% overall live on campus (undergraduates)
            </Li>
            <Li> Over 75,000 employees, working in 665 New Jersey organizations, have been trained by NJIT’s Division of
                Continuing Professional Education since 1990
            </Li>
            <Li> 281 tenured or tenure-track faculty; 98 percent hold doctoral degrees or have the highest degree
                attainable in their field
            </Li>
            <Li> The student-faculty ratio is 17:1
            </Li>
            <Li> Over 1,300 full-time employees
            </Li>
            <Li> More than 4,000 students and teachers in pre-college educational programs, the pipeline for STEM
            </Li>
            <Li> Over 7,400 prospective students and their parents visit campus annually for open houses and tours
            </Li>
            </p>
            <div class="col-md text-center mt-4 mb-4 ">
                <img src="{{url_for('static', filename = 'R&D.jpeg')}}"
                     style="width:90%; height: 30%">

            </div>
            <h5 class="display-6 ">Research and Development</h5>
            <p class="lead">
            <Li>NJIT’s research expenditures totaled more than $140 million in FY2017.
            </Li>
            <li>As of 2017, NJIT has 220 U.S. patents and 107 pending U.S. patent applications.
            </Li>
            <li>VentureLink at NJIT is New Jersey's largest high growth startup incubator. From free resources for
                student-led startups to sophisticated technology-forward headquarters for mature companies, VentureLink
                provides the space, mentorship, and resources startups need to grow and thrive. The space is the
                physical home of startups and innovative entrepreneurship on NJIT's campus. VentureLink is the conduit
                from student and faculty led ideas to New Jersey's broader technology community. The program hosts
                seminars, workshops, and competitions that will make any startup successful.
            </Li>
            <li>Launched in 2014, the New Jersey Innovation Institute (NJII) is a nonprofit corporate entity partnering
                with industry and government to provide innovative and practical solutions for economic development,
                technical assistance, joint ventures and commercialization of technology.
            </Li>
            </p>
            <h5 class="display-6 ">2020 Vision - A Strategic Plan</h5>
            <p class="lead">
                On July 1, 2015, NJIT introduced 2020 Vision – A Strategic Plan to chart the university’s course during
                the second decade of the 21st century. It is the product of diverse perspectives, an exceptional breadth
                of talent and deep concern for all aspects of the university’s mission. The five core strategic
                priorities are:
            </p>
            <p class="lead">
            <li>Students – To support and increase the number of high-achieving students who graduate
            </Li>
            <li>Learning – To provide a challenging, hands-on and relevant curriculum
            </Li>
            <li>Scholarly Research – To achieve national and international preeminence and industry engagement
            </Li>
            <li>Community – To engage locally, regionally and globally
            </Li>
            <li>Investments – To fund a complete spectrum of resources including human capital and physical
                infrastructure
            </Li>
            </p>
            <p class="lead">NJIT will realize this vision through ongoing assessment of its progress to ensure success.
                This continuous assessment will keep the university on course toward becoming one of the premier
                polytechnic institutions in the country, renowned for excellence in education, eminence in research,
                generosity in service and dedication to economic progress. To learn more about our strategic goals,
                visit 2020 Vision.
            </p>
            <h5 class="display-6 "> What Others Say About Us</h5>
            <p class="lead">
            <Li>The New York Times ranked NJIT #1 among America’s Great Working-Class Colleges
            </Li>
            <li>MONEY Magazine recently named NJIT as one of the top 10 colleges in the nation with great career
                services.
            </Li>
            <li>PayScale ranks NJIT "Top 1 Percent Nationally for Return on Investment"
            </Li>
            <li>First in public universities in New Jersey and third in the state overall based on post-graduation
                earnings, with a median salary of $65,300 - U.S. Dept. of Education College Scorecard
            </Li>
            <li>Top 1 percent of colleges and universities in the U.S. for its occupational earnings power; NJIT alumni
                are among the top 10 percent of high earners for mid-career salaries – Brookings Institution
            </Li>
            <li>One of the top 25 public colleges in the nation, and one of the top 50 overall, to have a low student
                loan default rate – BestColleges.com
            </Li>
            <li>An "America’s Top College" and "One of 50 College Gems with Bargain Tuitions, SAT Optional Policies and
                Openings" – Forbes.com
            <li>Top 100 producer of minority STEM graduates:
            </Li>
            <li>Top 100 producer of degrees in engineering awarded to African-American students
            </Li>
            <li>Top 100 producer of degrees in engineering awarded to Hispanic students– Diverse: Issues in Higher
                Education
            </Li>
            <li>Top 10 percent nationally for return on investment and one of four best buys in New Jersey higher
                education – Bloomberg Businessweek
            </Li>
            <li>Third in New Jersey for the highest return on investment – Affordable Colleges Online
            </Li>
            <li>First in the nation among "America’s Most Underrated Colleges" – BusinessInsider.com
            </Li>
            <li>"A Top National University" – U.S. News and World Report
            </Li>
            <li>A Princeton Review Best College and Best Business School (Martin Tuchman School of Management)
            </Li>
            <li>Awarded the Innovation & Economic Prosperity University designation in recognition of its strong
                commitment to economic engagement through entrepreneurship, technology transfer, talent and workforce
                development, and community development – Association of Public and Land-grant Universities (APLU)
            </li>
            </p>
            <h5 class="display-6 "> History </h5>
            <p>Founded in 1881 as Newark Technical School; renamed NJIT in 1975.

            </p>
            <p>Newark College of Engineering (1919)

            </p>
            <p>Hillier College of Architecture and Design (1973)

            </p>
            <p>College of Science and Liberal Arts (1982)

            </p>
            <p>Martin Tuchman School of Management (1988)

            </p>
            <p>Albert Dorman Honors College (1994)

            </p>
            <p>Ying Wu College of Computing (2001)</p>
        </div>
    </div>
</header>
