<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>My first website</title>
</head>
<body>

<header class="bg-light">
    <div class="container px-4">
        <div class="row gx-4">


            <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">


                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                              <a class="nav-link" href="/about/">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/academics/">Academics</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/Faculty/">Faculty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/records/">Records
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/chart/">Chart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery/">Photos</a>
                        </li>

                    </ul>

                </div>

                <div class="container justify-content-end">

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a target="_blank" href="/calendar/">
                        <img border="10" src="https://www.google.com/calendar/images/ext/gc_button6_en.gif"></a>
                </div>
            </nav>
        </div>
    </div>
</header>
<header class="bg-light">
    <div class="container-xl">
        <div class="jumbotron">
            <div class="col-md text-center mt-4 mb-4 ">
                <img alt="Responsive image" class="img-circle"
                     src="{{ url_for('static', filename = 'Covidpage.jpeg') }}"
                     style="width:80%">
                </img>
            </div>

            <h5 class="display-6 "><strong>Covid-19 Update</strong></h5>
            <p class="lead"> The COVID-19 pandemic has led to a dramatic loss of human life worldwide and
                presents an
                unprecedented challenge to public health, food systems and the world of work. The economic
                and social
                disruption caused by the pandemic is devastating: tens of millions of people are at risk of
                falling into
                extreme poverty, while the number of undernourished people, currently estimated at nearly
                690 million,
                could increase by up to 132 million by the end of the year.

            </p>
            <p class="lead">Millions of enterprises face an existential threat. Nearly half of the world’s
                3.3 billion
                global workforce are at risk of losing their livelihoods. Informal economy workers are
                particularly
                vulnerable because the majority lack social protection and access to quality health care and
                have lost
                access to productive assets. Without the means to earn an income during lockdowns, many are
                unable to
                feed themselves and their families. For most, no income means no food, or, at best, less
                food and less
                nutritious food.

            </p>
            <p class="lead">The pandemic has caused distress in many supply chains ranging from agriculture
                to real
                estate.</p>
            <h2 class="display-6 ">Education</h2>
            <p class="lead">COVID-19 has affected all levels of the education system, from pre-school to
                tertiary
                education. Different countries have introduced various policies, ranging from complete
                closure in
                Germany and Italy [19] to targeted closure in the United Kingdom for all but the children of
                workers in
                key industries.
            </p>
            <p class="lead">COVID-19 has had an impact on social mobility whereby schools are no longer able
                to provide
                free school meals for children from low-income families, social isolation and school dropout
                rates. It
                has also had a significant impact on childcare costs for families with young children.</p>
            <h2 class="display-6 ">Healthcare and the pharmaceutical industry</h2>
            <p class="lead">The COVID-19 pandemic has caused an unprecedented challenge for healthcare
                systems
                worldwide. In particular, the risk to healthcare workers is one of the greatest
                vulnerabilities of
                healthcare systems worldwide. Considering most healthcare workers are unable to work
                remotely,
                strategies including the early deployment of viral testing for asymptomatic and/or frontline
                healthcare
                staff is imperative [60]. High healthcare costs, shortages of protective equipment including
                N95 face
                masks, and low numbers of ICU beds and ventilators have ultimately exposed weaknesses in the
                delivery of
                patient care. In the US, there is concern regarding uninsured individuals, who may work in
                jobs
                predisposing them to viral infection which may lead to significant financial consequences in
                the event
                of illness.
            </p>
            <p class="lead">Profound changes to the dynamics of healthcare are likely to ensue, leading to
                massive
                investment into disease prevention infrastructure, and the accelerated digital
                transformation of
                healthcare delivery. Nicola et al. have highlighted the change in healthcare policy and
                clinical
                management as new evidence emerges [62]. In the US, active pharmaceutical ingredients are
                imported
                largely from India (18%) and the EU (26%), while China accounts for 13%. China is also the
                biggest
                exporter of medical devices to the US, accounting for 39.3%. Production slow-downs and
                limitations in
                supply would inadvertently lead to revenue loss [63]. In the UK, AstraZeneca have indicated
                that
                COVID-19 is likely to affect its 2020 revenue growth.</p>
            <div class="col-md text-center mt-4 mb-4 ">
                <img alt="Responsive image" class="img-circle" src="{{ url_for('static', filename = 'Covid2.png') }}"
                     style="width:80%">
                </img>
            </div>
            <h5 class="display-6 "><strong>NJIT To Host Community COVID-19 Vaccination Center</strong></h5>
            <p class="lead">New Jersey Institute of Technology (NJIT) is pleased to announce our partnership
                with the Federal Emergency Management Agency (FEMA), the New Jersey Office of the Governor,
                the Department of Defense (DoD), the New Jersey State Police (NJSP), the New Jersey Office
                of Emergency Management (OEM), and other agencies to open a new COVID Community Vaccination
                Center on the NJIT campus. The Naimoli Center on NJIT's campus in Newark, N.J. will serve as
                the hub for vaccine activity at the new COVID Community Vaccination Center. NJIT is working
                aggressively to prepare for the coming launch of this important initiative on Wednesday,
                March 31. This center is expected to deploy up to 6,000 doses of vaccine per day and will
                help save lives, aid in our local and statewide recovery efforts, and expedite our return to
                normalcy. NJIT is exceptionally proud to be part of this effort and is appreciative of
                President Biden, Governor Murphy, and the federal and state agencies that are collaborating
                with NJIT to make this possible and to get this center up and running expeditiously.</p>

            <p class="lead">NJIT specifically selected the Naimoli Center location for vaccine distribution
                in order to minimize the potential impact on our campus community by keeping traffic to the
                vaccination center on the perimeter of campus. NJIT is also establishing procedures and
                protocols designed to prevent the operations of the vaccination center from encroaching upon
                the majority of our campus or significantly disrupting daily life at NJIT.</p>

            <p class="lead">The vaccine center is scheduled to be open through at least May 31, and it is
                anticipated that, once fully open, the vaccination center will be operational seven days a
                week.</p>

            <p class="lead">NJIT is proud to be part of this important effort to increase vaccine access
                throughout our region, which will help expedite our recovery and will save lives in our
                community. Thank you all for your support, cooperation, and patience as NJIT embarks upon
                this massive and essential undertaking.</p>

            <h1 class="display-6 "><strong>To register and schedule an appointment, please call
                855-568-0545.</strong></h1>
            <p class="lead">Location: New Jersey Instute of Technology, Naimoli Family Athletic &
                Recreational Facility
                Address: Corner of Lock St. & Bleeker St., Newark, NJ 07103</p>
            <p class="lead">NJ Transit: Warren Street/NJIT Light Rail Station</p>
            <p class="lead">Free Parking: Science and Technology Parking Garage, 42 Wilsey St., Newark, NJ
                07103</p>
        </div>
    </div>
</header>
</body>
</html>
