<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>My first website</title>
</head>
<body>

<header class="bg-light">
    <div class="container px-4">
        <div class="row gx-4">


            <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">


                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/about/">About</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/academics/">Academics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/records/">Records
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery/">Photos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/chart/">Chart</a>
                        </li>

                    </ul>

                </div>

<div class = "container justify-content-end">

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a target="_blank" href="/calendar/">
                    <img border="10" src="https://www.google.com/calendar/images/ext/gc_button6_en.gif"></a>
         </div>   </nav>





<!--<header class="bg-light">-->
<!--    <div class="container-xl">-->

        <!--        <img src="{{url_for('static', filename = 'carosule1.jpeg')}}" class="img-fluid" alt="Responsive image">-->
        <!--        </img>-->
        <!--        <img src="{{url_for('static', filename = 'carosule2.jpeg')}}" class="img-fluid" alt="Responsive image">-->
        <!--        </img>-->
        <!--        <img src="{{url_for('static', filename = 'carosule3.jpeg')}}" class="img-fluid" alt="Responsive image">-->
        <!--        </img>-->
        <!--        <img src="{{url_for('static', filename = 'carosule4.jpeg')}}" class="img-fluid" alt="Responsive image">-->
        <!--        </img>-->
        <!--        <img src="{{url_for('static', filename = 'carosule5.jpeg')}}" class="img-fluid" alt="Responsive image">-->
        <!--        </img>-->

        <!--    </div>-->
        <!--</header>-->
<div class="container">

    <div class="container">
<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="{{url_for('static', filename = 'books.jpeg')}}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="{{url_for('static', filename = 'graduate.jpeg')}}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{{url_for('static', filename = 'college.jpeg')}}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="{{url_for('static', filename = 'ball.jpeg')}}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{{url_for('static', filename = 'home.jpeg')}}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="{{url_for('static', filename = 'library.jpeg')}}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
</div>
<!-- Gallery -->



<